.Card {
  min-width: 130px;
  min-height: 90px;
  max-width: 180px;
  max-height: 200px;
  margin: 1.8%;
  border: 1px solid #eee;
  box-shadow: 1px 2px 3px #ccc;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(145, 209, 136, 0.712);
  cursor: pointer;
  border-radius: 15px;
  transition: 0.3s;
}

.img {
  width: 92%;
  height: 70%;
  max-width: 150px;
  max-height: 120px;
  border-radius: 15px;
}

.Card:hover {
  background-color: rgba(34, 202, 12, 0.472);
  transform: scale(1.1);
}

h3 {
  font-size: 18px;
  color: rgb(255, 255, 255);
  background-color: rgba(14, 3, 3, 0.472);
  padding: 12px;
}

a {
  text-decoration: none;
}