.Details{
    max-width: 1000px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


i{
    margin: 8px;
    font-size: 19px;
    font-style: normal;
    line-height: 1.82em;
}

.detailHeader{
    align-self: start;
}

.detailNo{
    align-self: start;
}

.detailAdded{
    border: 1px solid black;
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
}

.detailDescription{
    align-self: start;
}
.detailAdded:hover{
    background-color: black;
    align-self: center;
    color: wheat;
}