body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  font-size: 15px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
  height: 16px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: rgb(8, 16, 17);
}

.searchButton {
  width: 10px;
  height: 10px;
  border: 5px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
}

.wrap {
  width: 28%;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-search {
  color: white;
  font-size: 13px;
  padding: 1px;
}

.bt {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  border: 1px solid rgb(151, 151, 151);
  outline: none;
  font-size: medium;
  margin-left: 2px;
  cursor: pointer;
}