
body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 10px solid #00B4CC;
border-radius: 10px;
  padding: 8px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: rgb(8, 16, 17);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 5px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-search {
    color: black;

}

.bt {
    background-color: #00B4CC;
    border-radius: 5px;
    border: 1px solid #00B4CC;
    outline: none;
    font-size: medium;
    padding: 10px;
    margin-left: 4px;
}